{% extends "base.html" %}
{% load static %}

{% block container %}
    <div class="table-responsive">
        <table class="table table-striped mt-4 text-center">
            <thead>
                <tr>
                    <th class="col-2">IMG</th>
                    <th class="col-2">Name</th>
                     <th class="col-2">Repertoire URL</th>
                    <th class="col-2">Poster URL</th>
                    <th class="col-2">Address</th>
                <th class="col-1">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for center in centers %}
                <tr class="center-row" data-id="{{ center.id }}" data-name="{{ center.name }}">
                    <td class="col-2">
                        {% if center.image_url %}
                            <img src="{{ center.image_url }}" alt="{{ center.name }}" style="height: 50px; width: 140px; object-fit: contain">
                        {% endif %}
                    </td>
                    <td class="col-2">{{ center.name }}</td>
                    <td class="col-2">{{ center.repertoire_url }}</td>
                    <td class="col-2">{{ center.poster_url }}</td>
                    <td class="col-2">{{ center.address }}</td>
                    <td class="col-1">
                        <form method="POST" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                            <input type="hidden" name="id" value="{{ center.id }}">
                            <button class="btn btn-danger w-100" type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-2"></td>
                <td class="col-1">
                    <button id="addButton" class="btn btn-primary w-100" type="button" data-bs-toggle="modal" data-bs-target="#addModal">Добавить</button>
                </td>
            </tbody>
        </table>
    </div>
 <!-- Включение modal.html -->
    {% include "modal.html" %}
<div class="final-buttons">
    <div id="delete-all-button">
        <form method="POST" action="{% url 'CulturalCenters' %}">
            {% csrf_token %}
            <input type="hidden" name="action" value="delete_all">
            <button class="btn btn-burgundy " style="width: 12em" type="submit">Удалить все</button>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}<script src="{% static 'js/modal.js' %}"></script>
<script src="{% static 'js/cc.js' %}"></script>
{% endblock %}
